.gradle
.idea
.kotlin
build/
app/build/
core/main/build/
core/components/build/
core/resources/build/
terminal-view/build/
terminal-emulator/build/
soraX/editor/build/
soraX/oniguruma-native/build/
soraX/editor-lsp/build/
soraX/language-textmate/build/
baselineprofile/build/
benchmark/build/
benchmark2/build/
core/proot/build/
local.properties
*.apk
