.gradle
.idea
.kotlin
build/
app/build/
core/main/build/
core/components/build/
core/resources/build/
terminal-view/build/
terminal-emulator/build/
baselineprofile/build/
benchmark/build/
benchmark2/build/
features/terminal/proot/build/
local.properties
*.apk
