<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<application>
    <activity
        android:name="com.rk.externaleditor.SimpleEditor.SimpleEditor"
        android:exported="true"
        android:inputType="textFilter">

        <intent-filter
            tools:ignore="AppLinkUrlError">
            <action android:name="android.intent.action.VIEW" />
            <action android:name="android.intent.action.EDIT" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="*/*" />
        </intent-filter>
    </activity>
</application>
</manifest>