<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.Karbon"
        tools:targetApi="31">
        <activity
            android:name=".pluginClient.ManagePlugins"
            android:exported="true"
            android:theme="@style/Theme.Karbon" />
        <activity
            android:name=".MainActivity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:persistableMode="persistAcrossReboots"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings.TerminalSettings"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".CrashHandler.CrashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity.BatchReplacement"
            android:exported="false"
            android:label="@string/title_activity_batch_replacement"
            android:theme="@style/Theme.Karbon" />
        <activity
            android:name=".SimpleEditor.SimpleEditor"
            android:exported="true">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".terminal.Terminal"
            android:exported="true"
            android:label="Terminal"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings.SettingsApp"
            android:exported="false" />
        <activity
            android:name=".Settings.SettingsMainActivity"
            android:exported="false" />
        <activity
            android:name=".Settings.SettingsEditor"
            android:exported="false" />
        <activity
            android:name=".Settings.SettingsPlugins"
            android:exported="false" />
        <activity
            android:name=".Settings.GitSettings"
            android:exported="false" />
    </application>

</manifest>