<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <queries>
        <package android:name="com.github.android" />
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>


    <application
        android:name="com.rk.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.Karbon"
        tools:targetApi="tiramisu">
        <activity
            android:name="com.rk.xededitor.MainActivity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:inputType="textFilter"
            android:launchMode="singleTask"
            android:persistableMode="persistAcrossReboots"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service android:name="com.rk.SessionService" />
        <service android:name="com.rk.LogcatService" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.rk.crashhandler.CrashActivity"
            android:exported="false" />

        <activity
            android:name="com.rk.xededitor.ui.activities.settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name="com.rk.runner.runners.web.markdown.MDViewer"
            android:exported="false" />
        <activity
            android:name="com.rk.runner.runners.web.WebActivity"
            android:exported="false" />

        <activity
            android:name="com.rk.xededitor.ui.activities.terminal.Terminal"
            android:exported="true"
            android:label="Terminal"
            android:windowSoftInputMode="adjustResize|stateVisible" />
    </application>

</manifest>