name: Android CI

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - "**/*.md"
  workflow_dispatch:

jobs:
  build-release:
    name: Build Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all tags for comparison

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: gradle

      - name: Decode and create xed.keystore
        run: echo "${{ secrets.KEYSTORE }}" | base64 -d > /tmp/xed.keystore

      - name: Decode and create signing.properties
        run: echo "${{ secrets.PROP }}" | base64 -d > /tmp/signing.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Set Commit Hash
        id: commit_hash
        run: echo "COMMIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Extract Current versionCode
        id: version_code
        run: echo "VERSION_CODE=$(grep -oP 'versionCode\s*=\s*\K\d+' app/build.gradle.kts)" >> $GITHUB_ENV

      - name: Extract Previous versionCode
        id: prev_version_code
        run: echo "PREV_VERSION_CODE=$(git show HEAD~1:app/build.gradle.kts | grep -oP 'versionCode\s*=\s*\K\d+' || echo 0)" >> $GITHUB_ENV

      - name: Extract versionName
        id: version_name
        run: echo "VERSION_NAME=$(grep -oP 'versionName\s*=\s*\"\K[^\"]+' app/build.gradle.kts)" >> $GITHUB_ENV

      - name: Clone submodules
        run: git submodule update --init --recursive

      - name: Build with Gradle
        run: ./gradlew assembleRelease && mv app/build/outputs/apk/release/*.apk app/xed-editor-${{ env.COMMIT_HASH }}.apk
        env:
          KEYSTORE_FILE: /tmp/xed.keystore
          SIGNING_PROPERTIES_FILE: /tmp/signing.properties
        continue-on-error: false

      - name: Archive APK
        uses: actions/upload-artifact@v4
        with:
          name: Xed-Editor-Release
          path: app/xed-editor-${{ env.COMMIT_HASH }}.apk

      - name: Delete xed.keystore and signing.properties
        run: rm /tmp/xed.keystore /tmp/signing.properties

      - name: Send APK to Telegram
        if: ${{ success() && github.event.head_commit.message != '' }}
        run: |
          CAPTION=$(jq -R . <<< "${{ github.event.head_commit.message }}")
          curl -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendDocument" \
          -F chat_id="-1002408175863" \
          -F message_thread_id="582" \
          -F caption="$CAPTION" \
          -F document=@"app/xed-editor-${{ env.COMMIT_HASH }}.apk"

      - name: Generate Plugin Sdk
        run: |
          echo $PWD
          ls
          
          cd plugin-sdk
          bash generate-sdk.sh ..
          rm -rf .gradle
          chmod +x gradlew
          ./gradlew shadowJar
          du -h output
          mv output/* sdk.jar

      - name: Upload sdk.jar
        uses: actions/upload-artifact@v4
        with:
          name: sdk
          path: plugin-sdk/sdk.jar
