name: Android CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'  
  pull_request:
    branches: [ "main" ]
  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
      
    - name: Archive APK
      uses: actions/upload-artifact@v2
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
    - name: Notify Telegram Group
      env:
        USER: ${{github.actor}}
        TOKEN: ${{secrets.TelegramToken}}
        COMMIT_URL: ${{ github.repository_url }}/commit/${{ github.sha }}
      run: bash .github/workflows/newCommit.sh
